::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #e5e6eb;
}

::-webkit-scrollbar-thumb {
    background-color: white;
}

body {
    background-color: #e5e6eb;
    overflow-y: auto;
}

input {
    width: 100%;
    height: 3em;
    border-style: none;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 3px;
}

input:focus {
    outline: none;
}

header {
    width: 40%;
    margin: 2% auto;
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 20%;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

h1 {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 3.7em;
    position: relative;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.7);
    letter-spacing: -0.04em;
}

.fixed {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    padding-bottom: 50px;
    background-color: #e5e6eb;
}

.btn {
    margin-top: 50px;
    color: white;
    background-color: #afafaf;
    font-size: 1.3em;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #afafaf;
}

button:focus,
button:active {
    outline: 0 !important;
    border: none !important;
}

#links {
    z-index: 0;
    display: block;
    margin-top: 400px;
    margin-bottom: 100px;
    background-color: rgba(248, 248, 250, 0.6);
    border-radius: 5px;
}

#links li:first-child {
    padding-top: 10px;
}

#links li:last-child hr {
    opacity: 0;
}

#links li {
    list-style: none;
}

#links li a {
    font-size: 2em;
    padding-left: 20px;
}

a:hover {
    text-decoration: none;
}

#links li p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    padding-left: 40px;
    opacity: 0.7;
}

hr {
    height: 4px;
    background-color: white;
}
